<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить потребителя</title>
</head>
<body>
    <h1>Добавить нового потребителя</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Лицевой счет:</label><br>
        <input type="text" name="account_number" required><br><br>

        <label>ФИО:</label><br>
        <input type="text" name="full_name" required><br><br>

        <label>Адрес:</label><br>
        <input type="text" name="address" required><br><br>

        <label>Код участка:</label><br>
        <input type="text" name="section_code" required><br><br>

        <button type="submit">Добавить</button>
    </form>
    <a href="{% url 'consumers_list' %}">Назад</a>
</body>
</html>
